
p{
    width: 150px;
    height: 334px;
    margin: 0;;
    padding: 0;
    background-image: url('taj.jpg');
}
.bg{
    width: 3334px;
    height: 3334px;
    background-attachment: scroll;
    background: #000;
     background-image: url('taj1.jpg');
     background-repeat: no-repeat;
     background-size:300px 300px;

}